<div class="container">
  <div class="left-container">
    <mat-selection-list
      [multiple]="false"
      hideSingleSelectionIndicator="true"
      (selectionChange)="onUserSelectionChange($event)">
      <mat-list-option
        *ngFor="let user of availableUsers"
        [value]="user">
        {{ user.username}}
        <!--                {{ user.firstName + " " + user.lastName }}-->
      </mat-list-option>
    </mat-selection-list>
  </div>
  <div class="right-container" *ngIf="selectedUser">
    <div class="all-messages-container">
      <div *ngFor="let message of currentUserMessages"
           [ngClass]="{
              'message-container': true,
              'message-from-me': message.senderName === currentLoggedInUser,
              'message-from-others': message.senderName !== currentLoggedInUser
            }"
      >
        <div>{{message.senderName}}</div>
        <div>{{message.receiverName}}</div>
        <span>{{message.message}}</span>
        <mat-divider></mat-divider>
      </div>
    </div>
    <div class="textarea-messages-container">
      <mat-form-field
        style="width: 100%;">
        <textarea
          #messageTextField
          matInput
          placeholder="Write your message...."
          rows="4"
          [(ngModel)]="messageText"
          (keydown.enter)="sendMessage($event)">
        </textarea>
      </mat-form-field>
      <button color="primary"
              mat-raised-button
              style="padding:30px;"
              (click)="sendMessage($event)">
        Send
      </button>
    </div>
  </div>
</div>
