.container {
  display: flex;
  flex-direction: row;
  margin: 10px;
  height: calc(100% - 90px);
}

.left-container {
  border-radius: 5px;
  flex: 1;
  background-color: #f0f0f0;
  padding: 10px;
  overflow-y: auto;
}

.right-container {
  border-radius: 5px;
  flex: 3;
  display: flex;
  flex-direction: column;
  background-color: #d0d0d0;
  margin-left: 10px;
  padding: 10px;
  justify-content: space-between;
}

.all-messages-container {
  overflow-y: auto;
  flex: 4;
  display: flex;
  flex-direction: column-reverse;
}

.textarea-messages-container {
  flex: 1;
  gap: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.message-container {
  margin: 10px;
  padding: 20px;
  border-radius: 25px;
  color: white;
  max-width: 70%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: initial;
}

.message-text-style{
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: initial;
}

.message-from-me {
  align-self: flex-end;
  background-color: #0084ff; /* Optional: to visually differentiate messages */
}

.message-from-others {
  align-self: flex-start;
  background-color: #3d3f41;
}

textarea {
  resize: none;
}

.mat-list-single-selected-option {
  background-color: green;
}
